•	<strong>Areas Shown: </strong>The areas shown in the map on the left are census tracts
<br>for the Pittsburgh  Metropolitan Statistical Area (8 counties, 739 tracts).
<br> The numbers presented on the histogram to the right
<br> are estimates obtained from models based on the year 2016,
<br>the most recent year for which this fine-grained data was available.
<hr>
•	<strong>Health Harms </strong> The health harms reported in this study are attributable to PM 2.5 exposure.
<br>
Much of this harm occurs even when PM 2.5 exposure levels are below the current federal standard of 9.0 µg/m³.
<br>
This indicates that the federal standard needs to be reduced to protect the health of vulnerable populations,
<br>
especially those near steel mills and coke ovens like Clairton and Braddock.
<hr>
•	<strong> Arrows and References</strong>
<br>The solid GREEN arrow (to the right) is value for the selected tract or community.
<br> When the <strong> "communities" toggle</strong>  is selected,
<br> the arrow is placed at the sum/average of the tracts contributing to the community.
<br>
The shorter lines are the individual census tracts when more than one.
<hr>
<br>
At the bottom, a user-selected <strong> reference census tract </strong> is shown.
<br>
Its data appears on the histogram as a red diamond shape.
<hr>

•	<strong> Example:</strong>
<br>
The current default is a tract (42003492700) of Clairton,
<br>
one of two that are within the community of Clairton.
<br>
On the right, click on an indicator of harm, such as Total Deaths.
<br>
The estimate for that tract\'s  total deaths in 2016 equals roughly 3.
<br>
Now select the "communities" toggle, top left.
<br>
Then the second tract is added to the region.
<br>
The estimate for Clairton’s total deaths in 2016 equals 13 people for the two tracts together.
<br>when viewed by community, the sum of three census tracks.
<hr>
•	<strong> Totals versus rates</strong> .
<br>
Totals give a sense of actual people harmed (and sum over tracts when appropriate).
<br>
Rates allow for comparisons among different regions.
<br>So Totals and Rates are each useful.
<br>Hover over the histogram to see an explanation of total versus rate per 1000.
<hr>
•	<strong> Birth cohort</strong>
<br>
Some outcomes estimates apply specifically to the birth cohort of 2019.
